---
import GitHub from "./icons/GitHub.astro";
import Menu from "./icons/Menu.astro";
import JDM from "./icons/JDM.astro";
---

<nav class="p-4 flex items-center justify-between bg-white">
  <a href="">
    <div class="flex items-center">
      <JDM />
    </div>
  </a>

  <div
    class="flex items-center justify-between gap-8 text-lg font-mono text-slate-800 font-bold"
  >
    <a href="#" class="hover:text-[#00a551] hover:ease-out">Home</a>
    <a href="#" class="hover:text-[#00a551] hover:ease-out">Rest API</a>
    <button
      type="button"
      class="border hover:bg-[#00a551] rounded-lg p-2.5 me-2 dark:border-slate-800 dark:text-slate-800 dark:hover:text-white dark:focus:ring-[#050708] dark:hover:border-[#00a551] hover:ease-out"
    >
      <GitHub />
    </button>
  </div>
</nav>
