---
import autos from "../mocks/autos.json";

const coches = autos;
---

<div>
  <article>
    <div>
      <img src="" alt="" />
    </div>
    <div>
      <h2>title</h2>
      <p>holamudn</p>
    </div>
  </article>
</div>
