---
import Pre from "../components/Pre.astro";
import Data from "../mocks/autos.json";

const autos = Data;
---

<main class="flex items-center justify-center flex-col mx-0">
  <section class="flex flex-col justify-start text-white my-4">
    <h3 class="text-2xl font-bold">Get autos</h3>
    <Pre>[GET] https://jdmapi.onrender.com/v1/autos</Pre>
  </section>
  <section class="flex flex-col justify-start text-white my-4">
    <h3 class="text-2xl font-bold">Get marcas</h3>
    <Pre>[GET] https://jdmapi.onrender.com/v1/autos</Pre>
  </section>
  <section class="flex flex-col justify-start text-white my-4">
    <h3 class="text-2xl font-bold">Get motores</h3>
    <Pre>[GET] https://jdmapi.onrender.com/v1/autos</Pre>
  </section>
</main>
